stores-list ul {
    padding: var(--padding);
    height: 100%;
    overflow-y: scroll;
}
stores-list ul::-webkit-scrollbar {
    width: 0.3em;
}
stores-list ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
stores-list ul li {
    border-bottom: solid 1px lightgray;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}
stores-list ul li:first-child {
    border-top: solid 1px lightgray;
}
stores-list ul::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid slategrey;
}

stores-list ul .action {
    max-width: 50px;
    cursor: pointer;
}

.storeName {
    margin-bottom: 0.5em;
}

.storePhone .icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}